/*
 * SPDX-FileCopyrightText: 2023 Mirko Adam <mirko@four-m.de
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

html{
    min-height:100%;
    position:relative;
}

body {
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font: 200% sans-serif;
    margin-right: 5%;
    margin-left: 5%;
}

section {
    display: flex;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    align-items: center;
    justify-content: center;
}